

<%if flash[:alert]%>
  <%= flash[:alert]%>
<%end%>


<%if @user.admin == true %>
  <h1>ADMIN</h1>
<%end%>
<h2> Welcome, <%= @user.name%> </h2> <br>

<h4> Mood: <%= @user.mood%> </h4> <br>

<h4> Height: <%= @user.height %> </h4> <br>

<h4> Tickets: <%= @user.tickets %> </h4><br> <br>

<h5> <%= link_to "See attractions", attractions_path%> </h5>
<h5><%=link_to "Log Out", logout_path%> </h5>
