<h1> Attractions: </h1>


<%=@attractions.each do |attraction|%>
  <h2><%=attraction.name%> </h2>
  <%if @user.admin%>
    <h4> <%=link_to "Show #{attraction.name}", attraction_path(attraction)%></h4><br>
  <%else%>
    <h4><%=link_to "Go on #{attraction.name}", attraction_path(attraction)%> </h4><br>
  <%end%>
<%end%>

<%if @user.admin%>
  <h5> <%=link_to "New Attraction", new_attraction_path%> </h5>
<%end%>
